---
import Card from '../components/Card.astro';
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import Contact from "../components/Contact.astro";


---
<Layout>
	<Hero href="/" title='About Jane Doe' desc='I am a freelance web developer based in the UK, Here are some of my projects, feel free to get in touch' />
<h1 class="p-8 text-3xl font-bold">All about me</h1>
    <p class="p-8 py-12">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit sapiente quos rerum ratione enim iste doloremque ipsum atque fuga? Consequuntur dolorem qui numquam itaque veritatis reprehenderit quia, necessitatibus officiis autem.</p>
	<Contact />
</Layout>
